@import "partials/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    #reset-btn {
        position: absolute;
        top: 200px;
    }
}

[class~=draggable] {
    width: 150px;
    height: 150px;
    padding: 10px;
    cursor: pointer;
    p {
        text-align: center;
        transform: translateY(40px);
    }
}

#container {
    border: 1px solid black;
    position: absolute;
    bottom: 30px;
    width: 1000px;
    height: 300px;
    #contained-draggable {
        position: absolute;
        bottom: 25%;
        left: 40%;
    }
}

#spacer {
    width: 50px;
}