@import "partials/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: max-content;
}

body {
    display: flex;
    justify-content: center;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    #reset-btn {
        position: absolute;
        top: 200px;
    }
}

[class~=draggable] {
    width: 150px;
    height: 150px;
    padding: 10px;
    cursor: pointer;
    p {
        text-align: center;
        transform: translateY(40px);
    }
}

#container {
    border: 1px solid black;
    position: relative;
    width: 1000px;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
    #contained-draggable {
        position: absolute;
        bottom: 25%;
        left: 40%;
    }
}

#resizable-div,
#grid-resizable-div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    p {
        text-align: center;
        transform: translateY(40px);
    }
}

#resizable-div {
    position: absolute;
    left: 5%;
    top: 445px;
}

#grid-resizable-div {
    position: absolute;
    left: 15%;
    top: 445px;
}

#spacer {
    width: 50px;
}

#initial-resizer,
#also-resizes {
    width: 400px;
    height: 100px;
    left: 25%;
    border: 1px solid black;
    position: absolute;
}

#initial-resizer {
    top: 445px;
}

#main-box {
    background-color: grey;
    height: 160px;
    width: 160px;
    right: 10%;
}

#small-box {
    background-color: yellow;
    height: 80px;
    width: 80px;
    right: 40%;
}

#main-box,
#small-box {
    position: absolute;
    top: 445px;
}

#also-resizes {
    top: 555px;
}

#accordion {
    position: absolute;
    margin: 0 90px;
    padding-top: 800px;
    padding-bottom: 50px;
}

#sortable-list {
    position: absolute;
    padding-top: 1100px;
    padding-bottom: 40px;
    list-style-type: none;
    width: 70%;
    li {
        padding: 20px 0;
        cursor: pointer;
    }
}